@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga&display=swap');

.grid-container .grid-row .grid-cell{
    width: 85px;
    height: 85px;
    font-size: 35px;
    padding-top: 18px;
}
.grid-container .grid-row .type-128{
    padding-top: 21px;
    font-size: 33px;
}
.grid-container .grid-row .type-256{
    padding-top: 21px;
    font-size: 33px;
}
.grid-container .grid-row .type-512{
    padding-top: 21px;
    font-size: 33px;
}
.grid-container .grid-row .type-1024{
    padding-top: 21px;
    font-size: 33px;
}
.grid-container .grid-row .type-2048{
    padding-top: 21px;
    font-size: 33px;
}


@media only screen and (max-width: 1410px) {    
}

@media only screen and (max-width: 1199px) { 
}

@media only screen and (max-width: 991px) {	
}
@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 575px) {

    .grid-container .grid-row .grid-cell{
        width: 54.8px;
        height: 54.8px;
        margin: 4px;
        font-size: 25px;
        padding-top: 11px;
        text-align: center;
        font-weight: 500;
    }
    .grid-container .grid-row .type-1024{
        padding-top: 13.5px;
        font-size: 22px;
    }
    .grid-container .grid-row .type-2048{
        padding-top: 13.5px;
        font-size: 22px;
    }
}

@media only screen and (max-width: 360px) {

}

