@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga&display=swap');


body{
    text-align: center;
    overscroll-behavior: none;
}

*{
}

header{
    margin: auto;
    width: 515px;
    font-family: 'Lexend Giga', sans-serif;
}
header .icon-menu{
    font-size: 30px;
    margin-top: 12px !important;
    cursor: pointer;
}

h1{
    font-size: 50px;
    margin: 0px;
    padding: 0px;
    font-family: 'Lexend Giga', sans-serif;
}

header .puntaje{
    padding: 2px 5px;
    width: 48%;
    border-radius: 10px;
}

header .puntaje .titulo{
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    clear: both;
}


header .puntaje .valor{
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
    clear: both;
}


.grid-container{
    font-family: 'Roboto', sans-serif;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
    position: relative;
    margin: auto;
    width: 515px;
    height: 515px;
    border-radius: 8px;
    padding: 5px;
}

.grid-container .grid-row{
    float: left;
    clear: both;
    width: 100%;
}

.grid-container .grid-row .grid-cell{
    margin: 8px;
    float: left;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.grid-container .mensaje{
    top: 0;
    left: 0;
    position: absolute;
}

.grid-container .mensaje .frase{
    font-size: 70px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-top: 150px;
}

.controls{
    margin-top: 30px;
    height: 138px;
    cursor: pointer;
}



@media only screen and (max-width: 1410px) {    
}

@media only screen and (max-width: 1199px) { 
}

@media only screen and (max-width: 991px) {	
}
@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 575px) {
    header .icon-menu{
        font-size: 20px;
        margin-top: 10px !important;
    }

    header{
        width: 320px;
    }
    
    header h1{
        font-size: 29px;    
    }
    header .puntaje{
        padding: 2px 4px;
        width: 48%;
        border-radius: 5px;
    }

    header .puntaje .titulo{
        font-size: 10px;
    }
    
    
    header .puntaje .valor{
        font-size: 20px;
    }   
        
    .grid-container{
        margin: auto;
        width: 320px;
        height: 320px;
        border-radius: 8px;
        padding: 3px;
    }
    .grid-container .grid-row .grid-cell{
        margin: 4px;
        float: left;
        border-radius: 5px;
        text-align: center;
        font-weight: 500;
    }
    .controls{
        margin-top: 30px;
        height: 85px;
        cursor: pointer;
    }

    .grid-container .mensaje{
    }
    
    .grid-container .mensaje .frase{
        font-size: 55px;
        margin-top: 35px;
    }
}

@media only screen and (max-width: 360px) {

}

